
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.descricao {
    text-align: center;
    margin-bottom: 20px;
}


.secao {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.media-container {
    flex: 1;
    min-width: 300px; 
}

.texto {
    flex: 2;
    min-width: 300px;
}

/* Imagem Responsiva */
.foto-perfil {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .secao {
        flex-direction: column; /* Empilha o conteúdo verticalmente */
        align-items: center;
    }

    .texto {
        text-align: center; /* Centraliza o texto no celular */
    }

    .foto-perfil {
        margin: 0 auto 20px;
    }
}